<mat-card class="player">
  <mat-card-content>{{ player | name }}</mat-card-content>
  <button mat-raised-button color="primary" (click)="replay()">Replay</button>
</mat-card>

<div>
  <mat-card class="card">
    <mat-card-content>
      <div class="line" [@line]="animation ? start : end"></div>
      <mat-grid-list cols="3">
        <mat-grid-tile
          appCase
          class="case"
          *ngFor="let i of level(); index as index"
          [player]="player"
          (caseClick)="caseClick(index)"
        >
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</div>
